* {
    margin: 0;
    padding: 0;
}

body {
    background: #1D1B1B;
    overflow-x: hidden; 
}

#contenedor {
    width: 90%; 
    height: 610px; 
    background: #1D1B1B;
    margin: 0 auto;
    padding-top: 0.5em;
    border-radius: 0.5em;   
}

#header {
    height: 10%;
    background: #1D1B1B  ;
    padding: 0.5em;
    border-radius: 0.8em;
    margin: 0.5em;
}

#header h1 {
    font-size: 45px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 0;
    color: #FFFFFF;
}

#sub-contenedor {
    height: 40%;
    background: #1D1B1B;
    padding: 0.3em;
    margin: 0.5em;
    border-radius: 0.8em;
}

#formulario {
    height: 100%;
    width: 40%;
    position: relative;
    float: left;
    background: #D88F06 ;
    border-radius: 0.7em;
}

#formulario label {
    font-size: 30px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    display: block;
}

#formulario input {
    outline: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 1px;
    font-size:20px;
    width: 94%;
}

#selector-sexo {
    margin: 10px;
    font-size:20px;
    width: 94%;
    text-align-last: center;
    background: #ffffff;
    color: #000000;
}

#informacion {
    height: 100%;
    width: 55%; 
    margin: 1px; 
    padding: 10px;
    float: right;
    background: #D88F06 ;
    border-radius: 0.7em;
    Box-sizing: border-box;
}

#informacion h2, h3 {
    margin: 6px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 24px;
}

#informacion p {
    margin: 20px; 
    font-size: 18.5px;
    font-family: 'Roboto', sans-serif;
}

#botones {
    height: 10%;   
    padding: 0.5em;
    margin: 0.5em;
}

#botones button {
    width: 100%;
    font-size: 30px;
    padding: 3px;
    border: 1px solid ;
    font-family: 'Rubik', sans-serif;
}

#resultado {
    height:22%;
    background: #D88F06;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.8em;
}

#resultado label {
    font-size: 30px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    display: block;
}

#resultado input {
    border: 1px solid ;
    border-radius: 1px;
    font-size:25px;
    font-family: 'Rubik', sans-serif;
    display: block;
    width: 100%;
    text-align: center;
}

/* Adaptacion de contenedor */ 

@media screen and (max-width: 960px) {

    #contenedor {
        width: 100%;
    }
}
    
/* Adapatacion de titulo principal */ 

@media screen and (max-width: 451px) {

    #header {
        margin-bottom:30px;
    }

    #informacion p {
        font-size: 15px;
    }
}

/* Adaptacion a movil */

@media screen and (max-width: 777px) {

    #sub-contenedor {
        height: 66%;
    }

    #formulario {
        width:100%;
        height: 63%;
    }

    #informacion {
        width:100%;
        height: 37%;
        padding: 0;
        margin-top: 10px;
    }

    #informacion h2, h3{
        padding:0px; 
        margin:0px;
    }

    #informacion p {
        padding: 5px;
        margin:0;
    }
}

/* Cambio de font-size */

@media screen and (max-width: 706px) {

    #informacion p {
        font-size: 17px;
    }
}

@media screen and (max-width: 537px) {

    #informacion {
        height: 40%;
        margin-bottom:10px;
    }

    #informacion p {
        font-size: 15px;
    }
}

/* Modificacion de tamaño para texto legible */ 

@media screen and (max-width: 400px) {
    
    #sub-contenedor {
        height: 70%;
    }
    
    #formulario {
        height: 58%;
    }

    #informacion {
        height:44%;
    }

}

/* dark mode */

@media (prefers-color-scheme: dark) {
    #selector-sexo {
        background: #141313;
        color: #ffffff;
    }

    #formulario input {
        background: #1D1B1B;
        color: #ffffff;
    }

    #resultado input {
        background: #1D1B1B;
        color: #ffffff;
    }

    #botones button {
        background: #1D1B1B;
        color: #ffffff;
    }
}